div.chat_room {
    width: 70%;
    box-sizing: border-box;
    margin-left: 15%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .messages {
    background-color: #e4e2e2;
    min-height: 55vh;
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 15px;
    flex-shrink: 1;
    overflow: auto;
  }
  .message {
    padding: 5px 0;
  }
  .message {
    display: inline-block;
  }
  
  .message-form {
    display: flex;
    flex-shrink: 0;
    /* border: 1px solid grey; */
  }
  .message-form__nickname {
    flex-shrink: 70;
  }
  .message-form__input {
    flex-grow: 5%;
    border: 1px solid #dfdfdf;
    padding: 10px 10px;
    font-size: 16px;
  }
  .message-form__button {
    height: 10vh;
    margin: 1% 0 1% 1%;
  }
  